html,body{height:100%;}

.container {
	height:100%;
}

.fill{
	width:100%;
	height:100%;
	min-height:100%;
}

.menu-item
{
	/*height:50px;*/
	padding:10px 15px;
	font-family:Proxima Nova Regular;
	font-size:14px;
	color:#95a5a6;
	/*margin-top: 20px;*/
	cursor: pointer;
	text-decoration: none;

}

.menu-item:hover,
.menu-item:active,
.menu-item:visited
{
	color:#95a5a6;
	text-decoration: none;
}


.menu-item:hover
{
	background-color: #273848;
	color: #ffffff;
}
.menu-icon
{
	vertical-align: middle;
	background-size: 100%;
	background-repeat: no-repeat;
	display:inline-block;
	width:40px;
	height:40px;
	margin:0 14px;
}
.menu-icon-cart
{
	background-image: url(img/cart_admin_nogreen.png);
}
.menu-item:hover .menu-icon-cart
{
	background-image: url(img/cart_admin.png);
}
.menu-icon-user
{
	background-image: url(img/img-user.png);
}
.menu-item:hover .menu-icon-user
{
	background-image: url(img/cart_user_green.png);
}
.menu-icon-trade
{
	background-image: url(img/img-trade.png);
}
.menu-item:hover .menu-icon-trade
{
	background-image: url(img/goods_green.png);
}
.menu-icon-katadmin
{
	background-image: url(img/img-kat.png);
}
.menu-item:hover .menu-icon-katadmin
{
	background-image: url(img/img-kat-green.png);
}
.list-head
{
	height:45px;
}
.menu-admin
{
	background-color: #34495e;
}
.central-content
{
	background-color:#ecf0f1;
}
.logoad
{
	background-size: 100%;
	background-repeat: no-repeat;
	width: 100px;
	height:40px;
	padding:0;
}
.order-list > .row
{
	margin-left:0;
}
.order-list-title
{
	font-family: Proxima Nova Light;
	font-size: 48px;
	color:#34495e;
	margin-top: 33px;
	margin-left: -10px;
}
.order-list-head
{
	background-color:white;
	margin-left: 20px;
	height: 46px;
	border-bottom: 2px solid #f6f6f6;
	margin-top: 11px;
}
.order-list-head-item
{
	font-family:Proxima Nova Bold;
	font-size:14px;
	padding-top: 14px;
	color: #95a5a6;
	background-color:white;
}
.order-list-item
{
	font-family:Proxima Nova Bold;
	font-size:14px;
	color: #95a5a6;
	background-color:white;
	border-bottom: 2px solid #f6f6f6;
}
.order-list-item:hover
{
	background-color:#f6f8fc;
	border-left: 6px solid #8e44ad;
}
.order-list-item > div
{
	padding-top: 14px;
	padding-bottom: 14px;
}	
.order-info
{
	padding: 9px 0 0 20px;
}

.user-info
{
	font-family: Proxima Nova Semibold;
	font-size: 14px;
	color: #2c3e50;
}
.ot
{
	font-family: Proxima Nova Regular;
	font-size: 14px;
	color: #7f8c8d;
	
}
.linecart
{
	background-color:#fff;
}
.order-status
{
	font-family: Proxima Nova Semibold;
	font-size: 14px;
	color: #1ba254;
}
.order-status > select
{
	
	border:none;
	cursor:pointer;
	-moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
.order-status > select option
{
	border-bottom: 2px dotted #1ba254;
	cursor:pointer;	
}
.order-price
{
	font-family: Proxima Nova Semibold;
	font-size: 14px;
	color: #34495e;
}
.order-datetime
{
	font-family: Proxima Nova Regular;
	font-size: 14px;
	color: #9c9c9c;
}
.order-view
 {
	 font-family: Proxima Nova Semibold;
	 font-size: 14px;
	 color: #8e44ad;
 }
.order-view a
{
	text-decoration: none;
}
.statusthisorder
{
	font-family: Proxima Nova Light;
	font-size: 26px;
	color:#ad5a00;
}
.order-name
{
	font-family: Proxima Nova Regular;
	font-size: 14px;
	color: #3498db;
}
.order-list-item-details
{
	background-color:white;
	border-bottom: 2px solid #f6f6f6;
	text-align: center;
}
.order-list-item-details > div
{
	padding-top: 14px;
	padding-bottom: 14px;

}
.order-price-one
{
	font-family: Proxima Nova Regular;
	font-size: 14px;
	color: #34495e;
	
}
.order-amount-trade
{
	font-family: Proxima Nova Regular;
	font-size: 14px;
	color: #34495e;
}
.order-price-after
{
	font-family: Proxima Nova Semibold;
	font-size: 14px;
	color: #34495e;
}
.order-delete
{
	font-family: Proxima Nova Semibold;
	font-size: 14px;
	color: #c73b3b;
}
.order-list-total-amount
{
	background-color:white;
	padding-top: 14px;
	padding-bottom: 14px;
}
.amount-price-text
{
	font-family: Proxima Nova Bold;
	font-size: 16px;
	color: #3498db;
}
.amount-price-users-text
{
	font-family: Proxima Nova Bold;
	font-size: 16px;
	color: #3498db;
}
.amount-price
{
	font-family: Proxima Nova Light;
	font-size: 42px;

}
.empty-line
{
	height: 20px;
}
.order-list-information
{
	background-color: white;
}
.title-information
{
	font-family: Proxima Nova Light;
	font-size: 14px;
	color: #999999;
}

.description
{
	width: 100%;
	margin-bottom:20px;
	color: #0d0b0b;
	font-family: Proxima Nova Light;
	font-size: 18px;
}
.description-delivery
{
	width: 100%;
	margin-bottom:20px;
	color: #0d0b0b;
	font-family: Proxima Nova Light;
	font-size: 16px;
}
.product-name-admin
{
	width: 100%;
	margin-bottom:20px;
	color: #0d0b0b;
	font-family: Proxima Nova Light;
	font-size: 18px;
}
.product-list-information
{
	background-color: white;
}
.title-information-product
{
	font-family: Proxima Nova Light;
	font-size: 14px;
	color: #999999;
}
.img-product-kat
{	
	height:150px;
	margin-bottom: 15px;
}
.img-product-kat img,
.img-product-kat span
{
    height: 150px;
    width: 150px;
    border: 1px solid #000;
}
.change-img
{
	display: inline-block;
	font-family: Supermolot Light;
	font-size: 16px;
	color: #099d48;
	border-bottom: 2px solid #97cba7;
	margin-bottom: 5px;
}
.delete-img
{
	font-family: Supermolot Light;
	font-size: 16px;
	color: #ad0000;
	border-bottom: 2px solid #c36666;
	margin-bottom: 10px;
	display: inline-block;
}
.add-img
{
	font-family: Supermolot Light;
	font-size: 16px;
	color: #8e44ad;
	border-bottom: 2px solid #dfd0e7;
	display: inline-block;
}
.nophoto
{
	width:150px;
	height:150px;
}
.nofile
{
	font-family: Supermolot Light;
	font-size: 16px;
	color: #9d9d9d;
    padding-top: 60px;
    display: inline-block;
}
.product-item
{
	
    padding: 0px 9px;
	text-align:center;
}
.user-name
{
	font-family: Proxima Nova Semibold;
	font-size: 16px;
	color: #2c3e50;
}
.user-mail
{
	font-family: Proxima Nova Regular;
	font-size: 16px;
	color: #636363;
	text-align: center;
}
.user-phone
{
	font-family: Proxima Nova Regular;
	font-size: 16px;
	color: #636363;
	text-align: center;
}
.user-list-head
{
	background-color:white;
	margin-left: 20px;
	height: 46px;
	border-bottom: 2px solid #f6f6f6;
	margin-top: 11px;
}
.user-list-head-item
 {
	 font-family:Proxima Nova Bold;
	 font-size:14px;
	 padding-top: 14px;
	 color: #95a5a6;
	 background-color:white;
 }
.product-list-head-item
{
	font-family:Proxima Nova Bold;
	font-size:14px;
	padding-top: 14px;
	color: #95a5a6;
	background-color:white;
}
.user-list-item
{
	font-family:Proxima Nova Bold;
	font-size:14px;
	color: #95a5a6;
	background-color:white;
	border-bottom: 2px solid #f6f6f6;
}
.user-list-item:hover
{
	background-color:#f6f8fc;
	border-left: 6px solid #8e44ad;
}
.user-view
{
	font-family: Proxima Nova Semibold;
	font-size: 14px;
	color: #8e44ad;
}
.user-view a
{
	text-decoration: none;
}
.product-view
{
	font-family: Proxima Nova Semibold;
	font-size: 14px;
	color: #8e44ad;
}
.product-view a
{
	text-decoration: none;
}
.user-list-item > div
{
	padding-top: 14px;
	padding-bottom: 14px;
}
.order-number
{
	font-family: Proxima Nova Regular;
	font-size: 14px;
	color: #3498db;
}
.full-order-price
{
	font-family: Proxima Nova Semibold;
	font-size: 14px;
	color: #34495e;
	
}
.time-order
{
	font-family: Proxima Nova Regular;
	font-size: 14px;
	color: #34495e;
}
.history-list
{
	background-color:white;
	border-bottom: 2px solid #f6f6f6;
	padding-bottom: 20px;
    padding-top: 20px;
}
.history-list:hover
{
	background-color:#f6f8fc;
	border-left: 6px solid #8e44ad;
}
.items-list-head
{
	background-color:white;
	margin-left: 20px;
	height: 46px;
	border-bottom: 2px solid #f6f6f6;
	margin-top: 11px;
}
.items-list-head-item
{
	font-family:Proxima Nova Bold;
	font-size:14px;
	padding-top: 14px;
	color: #95a5a6;
	background-color:white;
}
.items-list-item
{
	font-family:Proxima Nova Bold;
	font-size:14px;
	color: #95a5a6;
	background-color:white;
	border-bottom: 2px solid #f6f6f6;
}
.items-list-item:hover
{
	background-color:#f6f8fc;
	border-left: 6px solid #8e44ad;
}
.items-list-item > div
{
	padding-top: 14px;
	padding-bottom: 14px;
}
.product-name
{
	font-family: Proxima Nova Semibold;
	font-size: 16px;
	color: #2c3e50;
}
.product-price
{
	font-family: Proxima Nova Regular;
	font-size: 16px;
	color: #636363;
	text-align: center;
}
.product-view
{
	font-family: Proxima Nova Semibold;
	font-size: 14px;
	color: #8e44ad;
}
.product-view a
{
	text-decoration: none;
}
.change-name-kat
{
	display: inline-block;
    font-family: Supermolot Light;
    font-size: 14px;
    color: #02873a;
    border-bottom: 2px solid #7cb38f;
}
.title-kat
{
	font-family: Proxima Nova Semibold;
	font-size: 16px;
	color: #2c3e50;
}
.description-cat
{
	margin-bottom:20px;
	font-family: Proxima Nova Light;
	font-size: 16px;
	color: #0d0b0b;
	width: 45%;
	padding-left: 5px;
}
.product-amount
{
	font-family: Proxima Nova Regular;
	font-size: 16px;
	color: #636363;
	text-align: center;
}
.product-delete
{
	font-family: Proxima Nova Semibold;
	font-size: 14px;
	color: #cb0000;
	text-align: right;
}
.add-new-kat
{
    font-family: Supermolot Light;
    font-size: 14px;
    color: #02873a;
    border-bottom: 2px solid #7cb38f;
}
.description-add-kat
{
	font-family: Proxima Nova Light;
	font-size: 16px;
	color: #0d0b0b;
	width: 37%;
	padding-left: 5px;
}
.save-change
{
    font-family: Supermolot Light;
    font-size: 18px;
    color: #02873a;
    border-bottom: 2px solid #7cb38f;
	margin-top: 25px;
	display: inline-block;
}
.delete-product
{
	font-family: Supermolot Light;
	font-size: 14px;
	color: #ad0000;
	border-bottom: 2px solid #b12020;
	margin-top: 25px;
	display: inline-block;
}
.delete-user
{
	font-family: Supermolot Light;
	font-size: 17px;
	color: #ad0000;
	border-bottom: 2px solid #c36666;
	margin-top: 15px;
	display: inline-block;

}
.adding-new-cat
{
	font-family: Proxima Nova Light;
	font-size: 16px;
	color: #0d0b0b;
	width:235px;
	padding-left: 5px;
}
.add-new-category
{
	display: inline-block;
    font-family: Supermolot Light;
    font-size: 14px;
    color: #02873a;
    border-bottom: 2px solid #7cb38f;
}
.delete-var
{
	font-family: Supermolot Light;
	font-size: 14px;
	color: #ad0000;
	border-bottom: 2px solid #c36666;
	margin-bottom: 10px;
	display: inline-block;
}
.order-this-status-select
{
	background-color: transparent;
	border:none;
	border-bottom:2px dotted #f00;
	font-family: Proxima Nova Light;
	font-size: 26px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

}

.admin-panel
{
	padding-bottom: 15px;
}