.central-content
{
    background-color:#e4e0d6;
}
.allproduct
{
    background-color:#f6f6f6;
    margin-top:-77px;
}
.newtrade
{
    background-color:white;
    height: 77px;
    font-size: 24px;
    padding-top: 20px;
    padding-left: 17px;
    color:#021562;
    font-family: Supermolot Regular;
}

.newproduct img
{

    width:100%;
}
.newproduct > div:first-child {
    padding-left: 0;
}
.newproduct > div {
    padding: 0px 1px;
}
.newproduct > div:last-child {
    padding-right: 0;
}
.orherproduct
{
    background-color: white;
}
.product-descr {
    height: 60px;
    line-height: 60px;
    text-align: center;
}
.populartrade
{
    background-color:white;
    height: 77px;
    font-size: 24px;
    padding-top: 20px;
    padding-left: 17px;
    color:#021562;
    font-family: Supermolot Regular;
}

.pages
{
    background-color:white;
    height: 74px;
    font-size: 14px;
}
.banner-kat
{
    background-image: url(img/banner-kat.png);
    background-repeat: no-repeat;

    background-size: 100%;
    height:321px;

}
.banner-small-4
{
    background-image: url(img/banner-small-4.png);
    background-repeat: no-repeat;

    background-size: 100%;
    width: 586px;
    height:650px;

}
.banner
{
    height:310px;
}
.banner-1
{
    background-image: url(img/banner-small-1.png);
    background-repeat: no-repeat;
    background-size: 100%;

}
.banner-2
{
    background-image: url(img/banner-small-2.png);
    background-repeat: no-repeat;
    background-size: 100%;


    text-align: right;
}
.banner-3
{
    background-image: url(img/banner-small-3.png);
    background-repeat: no-repeat;
    background-size: 100%;

}
.headline-trade
{
    font-size: 32px;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 17px;
    color: #000;
    font-family: Supermolot Bold;
}


.product-item
{
    padding: 0;
    padding-left: 3px;
    text-align: center;
}
.product-name
{
    height: 85px;
    padding-top: 10px;
    color:#555555;
    font-family: Supermolot Regular;
    font-size: 14px;
    padding-left: 34px;
}
.product-price
{
    font-family:Supermolot Light Italic;
    padding-top: 10px;
    color:red;
    font-size: 18px;
    text-align: left;
}

.product-newprice
{
    font-family:Supermolot Bold;
    font-size: 26px;
    color:#ed1651;
}

.product-oldprice
{
    font-family:Supermolot Light Italic;
    font-size: 16px;
    color:#cccccc;
}
.available
{
    color:#000;
    font-family:Supermolot Light;
    font-size: 11px;
}

.main-block
{
    background:#fff;
}
.othertrade
{
    background-color:white;
    height: 77px;
    font-size: 24px;
    padding-top: 20px;
    padding-left: 17px;
}
.otherproduct
{
    color:#021562;
    font-family:Supermolot Regular;
    font-size: 24px;
}
.category-title
{
    font-family: Supermolot Thin Italic;

    font-size: 72px;
    background-color: #e4e0d6;
    padding: 0;
    color:#000000;
}
.aboutproduct
{
    background-color: white;
}
hr.line-horizont
{
    border: none;
    background-color: #ed1651;
    height: 2px;
}
.image-product
{

    background-size: 100%;
    width:469px;
    height:469px;
}
.cart-title
{
    font-family: Supermolot Light Italic;
    font-size: 72px;
    background-color: #e4e0d6;
    padding: 0;
}
.shoppingcart
{
    background-color: white;
}
.headlinecart
{
    border-bottom: 2px solid #f6f6f6;
    height: 74px;
    margin-top: 35px;
    color: #999999;
}
.small-image-product
{
    background-image: url(img/small_image_product.png);
    background-repeat: no-repeat;

    background-size: 100%;
    width:171px;
    height:137px;
}
.amount-product
{
    background-image: url(img/Bg.png);
    background-repeat: no-repeat;
    background-size: 67%;
    height:44px;
}
.image-x
{
    cursor: pointer;
}
.linecart
{
    border-bottom: 2px solid #f6f6f6;
}
.order-title
{
    font-family: Supermolot Light Italic;
    font-size: 72px;
    background-color: #e4e0d6;
    padding: 0;
}
.account-title
{
    font-family: Supermolot Light Italic;
    font-size: 72px;
    background-color: #e4e0d6;
    padding: 0;
}
.login-title
{
    font-family: Supermolot Light Italic;
    font-size: 72px;
    background-color: #e4e0d6;
    padding: 0;
}
.contact-information
{
    background-color: #222429;
    font-family:Supermolot Bold;
    color: white;
    height: 72px;
    padding-top: 18px;
    padding-left: 25px;
    font-size: 24px;
}
.contact-info
{
    font-family:Supermolot Bold;
    color: black;
    padding-left: 25px;
    font-size: 24px;
    height: 60px;
    margin-top: 20px;
}
.continue
{
    width: 152px;
    height: 48px;
    background-color: #ed1651;
    color: white;
    font-family: Supermolot Light;
    font-size: 18px;
}
input::placeholder {
    color: black;
    font-family: Supermolot Light;
}
.form-new-person
{
    display: block;
    width: 100%;
    height: 44px;
    padding: 0 0 0 12px;
    font-size: 16px;
    line-height: 1.5;
    color: #000000;
    background-color: #e9e9e9;
    border: 1px solid #e9e9e9;
    font-family: Supermolot Light;
}
label{
    color: #999999;
    font-family: Supermolot Light;
    font-size: 14px;
}
.forneworder
{
    color: #ed1651;
    font-family: Supermolot Bold;
    font-size: 18px;
}
.information-delivery
{
    font-family: Supermolot Bold;
    color: white;
    height: 72px;
    padding-top: 18px;
    padding-left: 25px;
    font-size: 24px;
    background-color: black;
}
.arrowleft
{
    transform: rotate(135deg);
    border: solid currentColor;
    border-width: 0 .2em .2em 0;
    display: inline-block;
    padding: .20em;
    font-size: 25px;
    color: #000;


}
.arrowleft:hover
{
    color:#999999;
}
.arrowright
{
    transform: rotate(-45deg);
    border: solid currentColor;
    border-width: 0 .2em .2em 0;
    display: inline-block;
    padding: .20em;
    font-size: 25px;
    color: #000;

}
.arrowright:hover
{
    color:#999999;
}
.information-confirmation
{
    font-family:Supermolot Bold;
    color: white;
    height: 72px;
    padding-top: 18px;
    padding-left: 25px;
    font-size: 24px;
    background-color: black;
}

.restorepws
{
    color: #343434 !important;
    text-decoration: underline;
    font-family: Supermolot Light;
    font-size: 14px;
}
.enterin
{
    width: 101px;
    height: 45px;
    background-color: #ed1651;
    color: white;
    font-family: Supermolot Light;
    font-size: 18px;
}
.form-reg-person
{
    display: block;
    width: 384px;
    height: 44px;
    padding: 0 0 0 12px;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #e9e9e9;
    border: 1px solid #e9e9e9;
}
.quickenter
{
    color: #ed1651;
    font-family: Supermolot Bold;
    font-size: 18px;
}
.deliveryadress
{
    color: #ed1651;
    font-family: Supermolot Bold;
    font-size: 18px;
}
.form-house
{
    display: block;
    width: 100%;
    height: 40px;
    padding: 0 0 0 12px;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #e9e9e9;
    border: 1px solid #e9e9e9;
}
.choosedelivery
{
    color: #ed1651;
    font-family: Supermolot Bold;
    font-size: 18px;
}
.form-checkin
{
    font-family: Supermolot Light;
    font-size: 16px;

}
::-webkit-input-placeholder {
    color: black;
}
.comment
{
    width:264px;
    height: 200px;
    background-color: #e9e9e9;
    font-family: Supermolot Light;
    font-size: 16px;

}
.yourcomment
{
    font-family: Supermolot Light;
    font-size: 14px;
    color: #999999;
}
.orderlist
{
    color: #ed1651;
    font-family: Supermolot Bold;
    font-size: 18px;
}
.lineorder
{
    border-bottom: 2px solid #f6f6f6;
    height: 9px;

}
.headlineorder
{
    color: #999999;
    font-size: 14px;
    font-family: Supermolot Light;
    padding-left: 30px;
}
.nametrade
{
    font-family: Supermolot Light;
    font-size: 18px;
    color:#555555;
    margin-top: 40px;

}
.price
{
    font-family: Supermolot Light Italic;
    font-size: 15px;
    margin-top: 40px;
}
.minus,
.plus,
.quantity
{

    background-color: #e9e9e9;
    width: 30px;
    height: 30px;
    text-align: center;
    color:#999999;
    font-weight: bold;
    display: inline-flex;
    justify-content:center;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.minus
{
    font-family: Supermolot Bold;
}
.plus
{
    font-family: Supermolot Bold;
}
.quantity
{
    font-family: Supermolot Bold;
    border-left: 1px solid #787878;
    border-right: 1px solid #787878;
    width: 40px;
    cursor: default;
    color: #000000;
}
.quantitydelivery
{
    display: inline-block;
    font-family: Supermolot Light Italic;
    margin-top: 40px;
    font-size: 18px;
    color: #5d5d5d;
}
.pricetotal
{
    font-family: Supermolot Bold Italic;
    font-size: 18px;
    padding: 0;
    white-space: nowrap;
}
.priceontotal
{
    font-family: Supermolot Bold Italic;
    margin-top: 50px;
    font-size: 30px;
}
.pricetotalcart
{
    font-family: Supermolot Bold Italic;
    padding-top: 18px;
}
.productcartprice
{
    font-family: Supermolot Light Italic;
    font-size: 18px;
    color: #5d5d5d;
}
.issueorder
{
    font-family: Supermolot Bold;
    font-size: 20px;
    background-color: #ed1651;
    color: white;
    width: 272px;
    height: 47px;

}
.delivery
{
    color: #ed1651;
    font-family: Supermolot Bold;
    font-size: 18px;
}
.title
{
    font-family: Supermolot Light;
    font-size: 14px;
    color: rgb(153, 153, 153);
}
.description
{
    font-family: Supermolot Light;
    font-size: 18px;
    color: rgb(13, 11, 11);
}
.confirmorder
{
    width: 259px;
    height: 60px;
    background-color: #ed1651;
    color: white;
    font-family: Supermolot Light;
    font-size: 22px;
    padding: 0;
}
.ordergood
{
    margin-top: 30px;
    margin-left:20px;
}
.ordernumber
{
    font-family: Supermolot Bold;
    font-size: 24px;
    color: #000000;
}
.successfullyissued
{
    font-family: Supermolot Bold;
    font-size: 24px;
    color: #ed1651;
}
.thankyou
{
    font-family: Supermolot Light;
    font-size: 18px;
    color: #555555;
    margin-top: 10px;
    margin-left: 20px;
}
.timeorder
{
    font-family: Supermolot Light;
    font-size: 18px;
    color: #555555;
    margin-top: 15px;
    margin-left: 20px;
}
.ordercart
{
    background-color: white;
    height: 329px;
}
.backstore
{
    font-family: Supermolot Light;
    font-size: 18px;
    width: 229px;
    height: 48px;
    background-color: #ed1651;
    color: white;
}
.registrationperson
{
    background-color: white;
    height: 500px;
}
.regnewperson
{
    width: 219px;
    height: 49px;
    background-color: #ed1651;
    color: white;
    font-family: Supermolot Light;
    font-size: 18px;
}
.form-reg-new-person
{
    display: block;
    width: 100%;
    height: 44px;
    padding: 0 0 0 12px;
    font-size: 16px;
    line-height: 1.5;
    color: #000000;
    background-color: #e9e9e9;
    border: 1px solid #e9e9e9;
    font-family: Supermolot Light;
}
.regperson
{
    font-family: Supermolot Bold Italic;
    font-size: 24px;
}
.forgetpws
{
    color: #ed1651;
    text-decoration: underline;
    font-family: Supermolot Light;
    font-size: 14px;
}
.enterperson
{
    width: 92px;
    height: 46px;
    background-color: white;
    color: #333333;
    font-size: 18px;
    font-family: Supermolot Light;
    border: 4px solid #ed1651;
}
.newreg
{
    border-left: 3px solid #f6f6f6;
    height: 389px;
}
.enteroffice
{
    color: #ed1651;
    text-decoration: underline;
    font-family: Supermolot Light;
    font-size: 14px;
}

.date
{
    font-family: Supermolot Bold Italic;
    font-size: 24px;
}
.personofficedate
{
    background-color: white;

}
.form-address
{
    display: block;
    width: 100%;
    height: 46px;
    padding: 0 0 0 12px;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #e9e9e9;
    border: 1px solid #e9e9e9;
}
.save
{
    width: 133px;
    height: 46px;
    background-color: #ed1651;
    color: white;
    font-family: Supermolot Light;
    font-size: 18px;
}
.form-addressapartment
{
    display: block;
    width: 100%;
    height: 46px;
    padding: 0 0 0 12px;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #e9e9e9;
    border: 1px solid #e9e9e9;
}
.orderinfo
{
    font-size:24px;
    font-family: Supermolot Light;
}
.orderdatatime
{
    font-size:12px;
    font-family: Supermolot Light;
    color:#999999;
}
.orderprice
{
    font-size:17px;
    font-family: Supermolot Light;
}
.orderstatuswait
{
    font-size: 36px;
    font-family: Supermolot Light;
    color: #ed1651;
}
.orderstatus
{
    font-size: 36px;
    font-family: Supermolot Light;
    color: #ed1651;
    margin-top:60px;
    padding-left:24px;
}
textarea::-webkit-input-placeholder {
    color: black;
}

.slider-preview
{
    width:100%;
    height:100%;
}

.product-image
{
    height:236px;
    max-width: 236px;
    background:#fff;
}
.product-count
{
    font-family: Supermolot Light;
    color:#999999;
    font-size: 14px;
    background-color:#e4e0d6;
    padding-left: 0;
    padding-top: 0;
    margin-top: -20px;
    padding-bottom: 25px;
}
.comebacktoproduct
{
    display:block;
    background-color: white;
}
.backcatalogy
{
    color: #ed1651;
    text-decoration: underline;
    font-family: Supermolot Light;
    font-size: 14px;

}
.product-advantage
{
    padding:0;
    color: #999999;
    font-family: Supermolot Light;
    font-size: 14px;
}
.swiper-container
{
    width: 600px;
    height: 500px;
}
.swiper-container
{
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}
.swiper-slide
{
    background-size: cover;
    background-position: center;
}
.gallery-top
{
    width: 470px;
    height: 500px;
}
.gallery-thumbs
{
    box-sizing: border-box;
    padding: 10px 0;
}
.gallery-thumbs .swiper-slide
{
    height: 55px;
    width: 55px;
    opacity: 0.4;
}
.gallery-thumbs .swiper-slide-thumb-active
{
    opacity: 1;
    border: 2px solid black;
}
.product-image-box
{
    position:relative;
}

.product-flag
{
    position: absolute;
    left: 42px;
    top: 0;
    width: auto !important;
}
.gallery-thumbs {
    width: 290px;
}


.product-gallery .swiper-button-next:after,
.product-gallery .swiper-button-prev:after {
    font-size: 15px;
}

.product-gallery .swiper-button-prev {
    top: 530px;
    color: #343434;
    left: 65px;
}

.product-gallery .swiper-button-next {
    top: 530px;
    color: #343434;
    right: 170px;
}

.swiper-button-prev-3 {

    transform: rotate(135deg);
    border: solid currentColor;
    border-width: 0 .2em .2em 0;
    display: inline-block;
    padding: .20em;
    font-size: 25px;
    color: #000;
}

.swiper-button-next-3 {
    transform: rotate(-45deg);
    border: solid currentColor;
    border-width: 0 .2em .2em 0;
    display: inline-block;
    padding: .20em;
    font-size: 25px;
    color: #000;
}
.swiper-button-prev-2 {

    transform: rotate(135deg);
    border: solid currentColor;
    border-width: 0 .2em .2em 0;
    display: inline-block;
    padding: .20em;
    font-size: 25px;
    color: #000;
}

.swiper-button-next-2 {
    transform: rotate(-45deg);
    border: solid currentColor;
    border-width: 0 .2em .2em 0;
    display: inline-block;
    padding: .20em;
    font-size: 25px;
    color: #000;
}
.product-gallery .swiper-button-prev:hover,
.product-gallery .swiper-button-next:hover {
    color: #ff3156;
}
.swiper-button-prev-3:hover,
.swiper-button-next-3:hover {
    color:#999999;
}
.swiper-button-prev-2:hover,
.swiper-button-next-2:hover {
    color:#999999;
}
.buy_button
{
    cursor: pointer;
}
.buy_button.disabled
{
    filter: grayscale(1);
    cursor: not-allowed;
}
.category-description
{
    font-family: Supermolot Italic;
    font-size: 38px;
    color: black;
    margin-top: 60px;
    text-transform: uppercase;
    padding-left: 22px;

}
.shot-description
{
    font-family: Supermolot Light;
    font-size: 14px;
    color: black;
    padding-left: 22px;
    font-weight: bold;

}
.lookatthis
{
    display: block;
    width: 165px;
    height: 55px;
    line-height: 47px;
    border: 3px solid red;
    text-align: center;
    color:black;
    margin-top: 5px;
    font-family: Supermolot Italic;
    font-size: 18px;

}
a.paginator,
a.paginator:hover,
a.paginator:active,
a.paginator:visited
{
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 3px;
    line-height: 30px;
    text-align: center;
    background-color: #e9e9e9;
    color: #000;
    text-decoration: none;
}

a.paginator.current
{
    background-color: #ed1651;
    color: #fff;
    font-weight: bold;

}
