@font-face{
	font-family: Myriad Pro;
	src: url("fonts/Myriad Pro.otf") format("opentype");
}
@font-face{
	font-family: Supermolot Black Italic;
	src: url("fonts/Supermolot Black Italic.otf") format("opentype");
}

@font-face{
	font-family: Supermolot Black;
	src: url("fonts/Supermolot Black.otf") format("opentype");
}
@font-face{
	font-family: Supermolot Bold Italic;
	src: url("fonts/Supermolot Bold Italic.otf") format("opentype");
}
@font-face{
	font-family: Supermolot Bold;
	src: url("fonts/Supermolot Bold.otf") format("opentype");
}
@font-face{
	font-family: Supermolot Italic;
	src: url("fonts/Supermolot Italic.otf") format("opentype");
}
@font-face{
	font-family: Supermolot Light Italic;
	src: url("fonts/Supermolot Light Italic.otf") format("opentype");
}
@font-face{
	font-family: Supermolot Light;
	src: url("fonts/Supermolot Light.otf") format("opentype");
}
@font-face{
	font-family: Supermolot Thin Italic;
	src: url("fonts/Supermolot Thin Italic.otf") format("opentype");
}
@font-face{
	font-family: Supermolot Thin;
	src: url("fonts/Supermolot Thin.otf") format("opentype");
}
@font-face{
	font-family: Supermolot;
	src: url("fonts/Supermolot.otf") format("opentype");
}
@font-face{
	font-family: Proxima Nova Thin;
	src: url("fonts/Proxima Nova Thin.otf") format("opentype");
}
@font-face{
	font-family: Proxima Nova Bold;
	src: url("fonts/Proxima Nova Bold.otf") format("opentype");
}
@font-face{
	font-family: Proxima Nova Light;
	src: url("fonts/Proxima Nova Light.otf") format("opentype");
}
@font-face{
	font-family: Proxima Nova Regular;
	src: url("fonts/Proxima Nova Regular.otf") format("opentype");
}
@font-face{
	font-family: Proxima Nova Semibold;
	src: url("fonts/Proxima Nova Semibold.otf") format("opentype");
}