.banner-footer
{
	background-image: url(img/banner-bottom.png);
    background-repeat: no-repeat;
    background-size: 100%;
	height:315px;
}
.pattern
{
	color:#999999;
	font-size: 11px;
	font-family: Supermolot Light;
}
.up
{
	color:white; 
	font-size: 16px;
	margin-top: 20px;
	padding: 0;
	font-family: Supermolot Light;

}
