
/*
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.container {
  display: block;
  padding: 0;
}


.row {
  margin-bottom: 12px;
  width:100%;
}

*/
/*контейнер узенький*//*
.container
{
	width:1400px;
	height: 702px;
	margin: 0 auto;
}*/
/*контейнер на всю ширину*//*
.container-fluid
{
	width:100%;
}*/
@font-face {
 font-family: "Myriad Pro";
 src: url("fonts/Myriad Pro.otf");
}

html, body {
	/*margin: 0;
	padding: 0;
	min-width: 1400px;*/
	font-family: Myriad Pro;
}