ul.horizontal
{
	margin:0;
	padding:0;
}
ul.horizontal li
{
	display:block;
	
    height: 60px;
	padding:0 10px;

}
ul.horizontal li
{
	margin: 0 5px;
}
ul.horizontal li.qwe:hover
{
	background-color:#021563;

}
ul.horizontal a,
ul.horizontal a:active,
ul.horizontal  a:visited,
ul.horizontal .qwe a:hover
{
	text-decoration: none;
	color: #0d0b0b;
}

ul.horizontal li
{
	cursor: pointer;
}
ul.horizontal  li.qwe:hover a
{
	color:#fff!important;

}
.enter-home a
{
	border-bottom: #000000 dashed 1px;
}
.enter-home a:hover
{
	border-bottom: #ff3156 dashed 1px;
	color: #ff3156!important;
}
.banner-glavnay
{
	background-image: url(img/banner_glavnaya.jpg);
    background-repeat: no-repeat;
	
    background-size: 100%;
	height:715px;
}
.container banner-glavnay
{
	max-width:1370px;
}
.white-bar
{
	background-color: white;
	width: 994px;
	height: 59px;
	margin-top: 20px;
	margin-left: -10px;
	
}
.logo
{
	margin-top: 20px;
	width:100%;
}
.enter a{
	text-decoration: none;
	border-bottom: 1px dashed #448ccb;
	color: black;
}

.registration a{
	text-decoration: none;
	border-bottom: 1px dashed #448ccb;
	color: black;	
}
.enter-home
{
 
    padding: 0!important;
    
    height: 60px;
    line-height: 60px;
}
.icon-enter
{
	padding-right: 3px;
    margin-top: -5px;
}
.icon-out
{
	padding-right: 3px;
	margin-top: -5px;
}
.good-backet
{
	display: block;
	
    background-color: #021563;
    height: 60px;
	color: white;
}
.cart
{
	display: block;
    width: 100%;
	margin-top: 8px;
}

.lookat
{	
	display: block;    
	width: 246px;
	height: 57px;    
	line-height: 47px;    
	border: 3px solid red; 
	text-align: center; 
	color:white;
	margin-top: 26px;
	font-family: Supermolot Italic;
	font-size: 18px;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
main.container
{
	margin-top:160px;
}
header.menubar
{
	position:absolute;
	top:0;
	z-index:2;
}
main.allproduct
{
   margin-top: -77px;
}
.banner-glavnay
{
	padding-top:100px;
}
